<div *ngIf="loggedUser.email">
  <mat-card class="user">
    Logged user: {{ loggedUser.email }}
  </mat-card>
</div>
<div *ngIf="user.roles.includes('Admin') || user.roles.includes('User')">
  <button mat-raised-button (click)="logout()" class="logout" appHoverButton>
    Logout
  </button>
</div>

<div class="container">
    <h1 class="title">
      PC Components
    </h1>
  
    <table mat-table [dataSource]="pcComponents" class="mat-elevation-z8 demo-table table">
      <ng-container matColumnDef="componentId">
        <th mat-header-cell *matHeaderCellDef class="colName">ID</th>
        <td mat-cell *matCellDef="let element" class="colContent">{{element.componentId}}</td>
      </ng-container>
    
      <ng-container matColumnDef="componentName">
        <th mat-header-cell *matHeaderCellDef class="colName">Last Name</th>
        <td mat-cell *matCellDef="let element" class="colContent">{{element.componentName}}</td>
      </ng-container>
    
      <ng-container matColumnDef="seller">
        <th mat-header-cell *matHeaderCellDef class="colName">Seller</th>
        <td mat-cell *matCellDef="let element" class="colContent">{{element.seller}}</td>
      </ng-container>
    
      <ng-container matColumnDef="recommendedForGaming">
        <th mat-header-cell *matHeaderCellDef class="colName">Recommended For Gaming</th>
        <td mat-cell *matCellDef="let element" class="colContent">{{element.recommendedForGaming}}</td>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="colName">Price (€)</th>
        <td mat-cell *matCellDef="let element" class="colContent">{{element.price}} €</td>
      </ng-container>
  
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef class="colName">Details</th>
        <td mat-cell *matCellDef="let element" class="colContent" (click)="viewComponentDetails(element.componentId)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
            <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
          </svg>
        </td>
      </ng-container>
  
      <div *ngIf="user.roles.includes('Admin')">
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef class="colName">Edit</th>
          <td mat-cell *matCellDef="let element" class="colContent" (click)="editComponent(element)">
            <mat-icon>
              edit
            </mat-icon>
          </td>
        </ng-container>
      </div>
  
      <div *ngIf="user.roles.includes('Admin')">
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class="colName">Delete</th>
          <td mat-cell *matCellDef="let element" class="colContent" (click)="deleteComponent(element.componentId)">
            <mat-icon>
              delete
            </mat-icon>
          </td>
        </ng-container>
      </div>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <div *ngIf="user.roles.includes('Admin')">
      <button mat-raised-button (click)="addNewComponent()" class="add-button" appHoverButton>
        Add Component
      </button>
    </div>
</div>