<nav>
  <ul class="menu">
    <li><a href="login">Home</a></li>
    <li><a href="articles">Articles</a></li>
    <li>
      <a href="">Components</a>
      <ul class="submenu1">
        <li><a href="video_cards">Video cards</a></li>
        <li><a href="processors">Processors</a></li>
        <li>
          <a href="motherboards">Motherboards</a>
        </li>
      </ul>
    </li>
    <li><a href="terminology">Terminology</a></li>
  </ul>
</nav>
