<div class="container">
  <h1 class="title">
    PC Component Details
  </h1>

  <mat-card class="card">
    <p class="info">
      {{ 'ID' | marks }} {{ part.componentId }}
    </p>
    <p class="info">
      {{ 'Name' | marks }} {{ part.componentName }}
    </p>
    <p class="info">
      {{ 'Seller' | marks }} {{ part.seller }}
    </p>
    <p class="info">
      {{ 'Recommended For Gaming' | marks }} {{ part.recommendedForGaming }}
    </p>
    <p class="info">
      {{ 'Price (€)' | marks }} {{ part.price }} €
    </p>
    
    <div *ngIf="user.roles.includes('User')" class="addToCart">
      <button mat-raised-button (click)="redirect()" appHoverButton>
        ADD TO CART
      </button>
    </div>
  </mat-card>
</div>