.logout {
  display: block;
  margin-top: 20px;
  margin-left: 10px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .colName {
      text-align: center;
      vertical-align: middle;
    }

    .colContent {
      font-size: 13px;
      text-align: center;
      vertical-align: middle;
    }

    .title {
      font-size: 24px;
      font-weight: bold;
      color: #777777;
      margin-bottom: 30px;
    }
  
    .table {
      width: 60%;
    }
  
    .add-button {
      margin-top: 20px;
    }
  }