html {
  max-width: 1050px;
  margin: auto;
  background: url(solidworks-2019-hardware-faqs.jpg) no-repeat center center
    fixed;
  background-size: cover;
}

header {
  background: linear-gradient(45deg, #0593ac, #e7e7e7);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#title {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 62px;
  padding: 8px;
}

* {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu ul {
  display: none;
}

.menu > li:hover > ul {
  display: block;
  background-color: rgb(0, 0, 0);
}

nav ul {
  list-style-type: none;
}

.menu li:hover {
  background-color: rgba(109, 106, 106, 0.699);
  z-index: 10;
}

.menu > li {
  flex-grow: 1;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  flex-basis: 0;
}

nav a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu > li:nth-of-type(1) {
  border-bottom-left-radius: 20px;
}

.menu > li:nth-of-type(5) {
  border-bottom-right-radius: 20px;
}

.submenu1 > li:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.submenu1 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 370px auto;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
  grid-column-gap: 14px;
}

.grid-item {
  background: rgb(255, 255, 255);
  padding: 20px;
  padding-left: 23px;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 15px;
  box-shadow: 3px 3px 5px grey;
}

input,
button,
submit {
  border: none;
  background-color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
}

.flexbox-container {
  display: flex;
  margin-top: 10px;
  margin-left: 12px;
  margin-right: 12px;
  grid-column-gap: 14px;
  padding-bottom: 12px;
  align-items: flex-start;
}

.flexbox-item1 {
  background: rgb(255, 255, 255);
  padding: 21px;
  padding-left: 25px;
  padding-right: 24px;
  margin-bottom: 7px;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 15px;
  box-shadow: 3px 3px 5px grey;
}

#title2 {
  display: block;
  background: linear-gradient(90deg, #0e90b1, #0d0e0f);
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

.flexbox-item1 > section {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.flexbox-item1 > section > p:nth-of-type(1) {
  font-size: 27px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 5px;
  font-style: italic;
  padding-top: 5px;
}

.flexbox-item1 > section > p:nth-of-type(2) {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.flexbox-item1 > section img {
  float: left;
  border-radius: 2%;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 15px;
  height: 69%;
  width: 69%;
  box-shadow: 4px 4px 4px gray;
}

.flexbox-item2 {
  background: rgb(255, 255, 255);
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 4px gray;
}

.flexbox-item2 a {
  color: black;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
}

.flexbox-item2 a:hover {
  color: rgb(88, 88, 88);
}

.flexbox-item2 p {
  padding-bottom: 15px;
}

.flexbox-item2 img {
  width: 200px;
  height: 105px;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.flexbox-item2 img:hover {
  box-shadow: 1px 1px 8px gray;
}

.flexbox-item2 section {
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.flexbox-item2 section:nth-of-type(1) {
  padding-bottom: 10px;
}

.flexbox-item2 > section:last-child {
  padding-bottom: 5px;
}

.flexbox-item2 {
  animation-name: appear1;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes appear1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flexbox-item2 > section {
  animation-name: appear2;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

.flexbox-item2 > section:nth-child(1) {
  animation-delay: 0.4s;
}

.flexbox-item2 > section:nth-child(2) {
  animation-delay: 0.8s;
}

.flexbox-item2 > section:nth-child(3) {
  animation-delay: 1.2s;
}

.flexbox-item2 > section:nth-child(4) {
  animation-delay: 1.6s;
}

@keyframes appear2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  display: none;
}

footer {
  max-width: 1050px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media screen and (min-width: 650px) {
  .grid-container {
    align-items: flex-start;
  }

  .flexbox-container {
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 650px) {
  #title {
    font-size: 7vw;
  }

  .menu {
    font-size: 2.5vw;
  }

  .grid-container {
    grid-template-columns: auto;
    align-items: flex-start;
  }
}

@media screen and (min-height: 2050px) {
  .flexbox-container {
    margin-bottom: 3px;
  }

  footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
