<div class="container">
  <h1 class="title">
    Client Info
  </h1>

  <mat-card class="card">
    <p class="info">
      {{ 'ID' | marks }} {{ client.clientId }}
    </p>
    <p class="info">
      {{ 'Last Name' | marks }} {{ client.clientLastName }}
    </p>
    <p class="info">
      {{ 'First Name' | marks }} {{ client.clientFirstName }}
    </p>
    <p class="info">
      {{ 'Delivery Address ID' | marks }} {{ client.deliveryAddressId }}
    </p>
    <p class="info">
      {{ 'Country' | marks }} {{ client.country }}
    </p>
    <p class="info">
      {{ 'City' | marks }} {{ client.city }}
    </p>
    <p class="info">
      {{ 'Street' | marks }} {{ client.street }}
    </p>
    <p class="info">
      {{ 'Street No.' | marks }} {{ client.streetNumber }}
    </p>
  </mat-card>
</div>