<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" type="text/css" />
    <script src="login.js"></script>

    <title>Hardware Haven - Account Login</title>
  </head>

  <body>
    <header>
      <p id="title">Hardware Haven</p>

      <%- include('./Common Code/menu'); %>
    </header>

    <div id="content">
      <div class="login-form">
        <form method="POST" action="/login" name="myLoginForm">
          <p id="login">Login</p>
          <p id="invalid-data">
            <% if (messages.error) { %> <%= messages.error %> <% } %>
          </p>
          <p class="imp">
            E-mail:*
            <input
              class="login-input"
              type="email"
              name="email"
              placeholder="Enter E-mail"
              required
            /><br />
          </p>
          <p class="invalid-login-input">"E-mail" field is not filled in.</p>
          <p class="imp">
            Password:*
            <input
              class="login-input"
              type="password"
              name="password"
              placeholder="Enter Password"
              pattern=".{8,}"
              title="Minimum length of 8 characters."
              required
            /><br />
          </p>
          <p class="invalid-login-input">"Password" field is not filled in.</p>
          <p id="butt">
            <input type="submit" />
          </p>
        </form>
        <p id="no-account">
          <a href="/register">Don't have an account? Register here.</a>
        </p>
      </div>
    </div>

    <%- include('./Common Code/footer'); %>
  </body>
</html>
