<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="register.css" type="text/css" />
    <script src="register.js"></script>

    <title>Hardware Haven - Account Register</title>
  </head>

  <body>
    <header>
      <p id="title">Hardware Haven</p>

      <%- include('./Common Code/menu'); %>
    </header>

    <div id="content">
      <div class="register-form">
        <form method="POST" action="/register" name="myRegisterForm">
          <p id="register">Register</p>
          <p class="imp">
            E-mail:*
            <input
              class="register-input"
              type="email"
              name="email"
              placeholder="Enter E-mail"
              pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
              required
            />
          </p>
          <p class="invalid-register-input">"E-mail" field is not filled in.</p>
          <p class="imp">
            Username:*
            <input
              class="register-input"
              type="text"
              name="name"
              placeholder="Enter Username"
              pattern=".{10,}"
              title="Minimum length of 10 characters."
              required
            />
          </p>
          <p class="invalid-register-input">
            "Username" field is not filled in.
          </p>
          <p class="imp">
            Password:*
            <input
              class="register-input"
              type="password"
              name="password"
              placeholder="Enter Password"
              pattern=".{8,}"
              title="Minimum length of 8 characters."
              required
            />
          </p>
          <p class="invalid-register-input">
            "Password" field is not filled in.
          </p>
          <p class="butt">
            <input class="butt" type="submit" />
          </p>
        </form>
        <p id="yes-account">
          <a href="login"> Already have an account? Login in here.</a>
        </p>
      </div>
    </div>

    <%- include('./Common Code/footer'); %>
  </body>
</html>
